<header class="navbar custom-nav">
    <section class="navbar-section">
        <!-- Dropdown Menu -->
        <div class="dropdown">
            <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                Quick Nav <i class="icon icon-caret"></i>
            </a>
            <!-- Dropdown menu links -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="#">Home</a>
                </li>
                <li class="menu-item">
                    <a href="#">About</a>
                </li>
                <li class="menu-item">
                    <a href="#">Services</a>
                </li>
            </ul>
        </div>
    </section>

    <section class="navbar-section">
        <!-- Wide Search Bar -->
        <div class="form-group" style="width:100%;">
            <input type="search" class="form-input" placeholder="Search..." id="masterSearch" name="masterSearch">
        </div>
    </section>

    <section class="navbar-section">
        <button class="btn btn-secondary mr-2" id="toggleButton">Add +</button>
        <!-- Profile Dropdown -->
        <div class="dropdown dropdown-right">
            <a href="#" class="dropdown-toggle" tabindex="0">
                <figure class="avatar avatar-md" data-initial="RB" style="background-color: #5755d9;"></figure>
            </a>
            <!-- Dropdown profile links -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="#">Profile</a>
                </li>
                <li class="menu-item">
                    <a href="#">Settings</a>
                </li>
                <li class="menu-item">
                    <a href="#">Logout</a>
                </li>
            </ul>
        </div>
    </section>
</header>